<a href="https://colab.research.google.com/github/Song-juni/BP_10_Ch4/blob/main/EXE_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#4-1

In [3]:
print("나는" +str(12)+ "개의 사과를 먹었다.")       #문자열과 정수는 합칠수 없습니다.

나는12개의 사과를 먹었다.

#4-2

In [7]:
print("apple" + "grape")
print("apple" * 3)

applegrape
appleappleapple

#4-3

In [2]:
x = input("문자열을 입력하시오.: ")
print(x[0:2] + x[4:])

문자열을 입력하시오.: python
pyon

#4-4

In [3]:
x = input("문자열을 입력하시오.: ")
print(x + "하는 중")

문자열을 입력하시오.: 청소
청소하는 중

#4-5

In [4]:
x = input("기호를 입력하시오.: ")
y = input("중간에 삽입할 문자열을 입력하시오.: ")
print(x[0] + y + x[1])

기호를 입력하시오.: []
중간에 삽입할 문자열을 입력하시오.: python
[python]

#4-6

In [5]:
list = [1, 2, 3, 4]
sum = list[0] + list[1] + list[2] + list[3]
print("리스트 = ", list)
print("리스트 숫자의 합 = ", sum)

리스트 =  [1, 2, 3, 4]
리스트 숫자의 합 =  10